@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Light.ttf); }
html {
  overflow-x: hidden; }
  html body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.95);
    overflow-x: hidden; }

header {
  display: grid;
  position: relative;
  padding: 0 10px;
  background-image: url(../images/flowers/white/52506114.jpg);
  background-size: cover;
  background-position: center; }
  header div {
    display: grid;
    color: #2a64e8;
    margin: auto;
    text-align: center;
    transform: scale(1.4); }
    header div h1 {
      font-size: 30px;
      background-color: transparent;
      box-shadow: none;
      padding: 0; }
    header div p {
      margin: 10px 0; }
  header .down {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 70px;
    width: 70px;
    background-image: url(../images/Up-Chevron-Circle-512.png);
    background-size: contain;
    opacity: 0.3;
    transform: rotate(180deg);
    transition: all 700ms ease-in-out; }
    header .down:hover {
      opacity: 0.5;
      transform: rotate(180deg) translateY(-10px); }

#container {
  position: relative; }

nav {
  position: sticky;
  top: 0;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 1px #2a64e8;
  background-color: white; }
  nav ul {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    text-align: right;
    height: 0;
    width: 80px;
    overflow: hidden; }
    nav ul li {
      display: grid;
      line-height: 40px;
      transition: transform 300ms ease-in;
      margin: 2px;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.98); }
      nav ul li a {
        text-decoration: none;
        color: #2a64e8;
        padding: 5px;
        margin: auto; }
  nav #box {
    position: relative;
    display: grid;
    grid-column: 5/7;
    border: 0;
    margin: auto;
    margin-right: 22px;
    padding-bottom: 16px;
    padding-top: 8px;
    width: 77px; }
    nav #box div {
      width: 35px; }
    nav #box #burger {
      display: inline-block;
      margin: auto;
      margin-left: 25px;
      transition: transform 300ms ease;
      transform: scale(0.6); }
      nav #box #burger div {
        height: 2px;
        margin: 20% auto;
        border-radius: 20%; }

#one, #three {
  transition: transform 800ms ease-in-out;
  margin-left: 5px !important; }

#one {
  transform: translate(5px, 10px) rotate(45deg); }

#two {
  display: none; }

#three {
  transform: translate(-20px, 0px) rotate(-45deg); }

#main {
  background-image: url(../images/flowers/blue/blue_flower_2.jpg);
  background-size: cover; }
  #main .sections {
    position: relative; }
    #main .sections .content {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      overflow: hidden; }

#sidebar {
  display: none; }
  #sidebar ul li img {
    display: none;
    height: 100px;
    margin: auto; }

h1 {
  font-size: 20px;
  margin: 0;
  text-shadow: 0 0 1px lightgray;
  padding: 20px;
  margin: 0 5px;
  box-shadow: 0 1px 0.1px white;
  background-color: rgba(255, 255, 255, 0.9);
  color: #2a64e8;
  text-align: center; }

h2 {
  color: #3b7cd0db;
  font-size: 22px; }

#main #about .content {
  padding-top: 5px; }
  #main #about .content h1 {
    margin-top: 0; }
  #main #about .content #intro {
    display: grid;
    padding: 4%; }
    #main #about .content #intro .image {
      margin: auto;
      width: 200px;
      height: 200px;
      background-image: url(https://media-exp1.licdn.com/dms/image/C5603AQG7lF0X8YZvQA/profile-displayphoto-shrink_200_200/0?e=1602115200&v=beta&t=b47-nfcMykywuPvV2FGb59O9d8TP0OrTkmM4sKmg2sk);
      background-size: cover;
      border-radius: 50%; }
    #main #about .content #intro hr {
      border: none;
      height: 2px;
      background-color: white; }
    #main #about .content #intro p {
      padding: 20px;
      padding-top: 40px;
      text-align: center;
    }
#main #endevours .content #project-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 20px;
  padding: 10px; }
  #main #endevours .content #project-wrapper a {
    text-decoration: none;
    margin: 10px auto; }
    #main #endevours .content #project-wrapper a div {
      height: 250px;
      width: 300px;
      background-size: cover;
      transition: all 1s ease-out; }
    #main #endevours .content #project-wrapper a #out {
      background-image: url(../images/projects/outdoor.png); }
    #main #endevours .content #project-wrapper a #code {
      background-image: url(../images/projects/code.png); }
    #main #endevours .content #project-wrapper a #product-landing-page {
      background-image: url(../images/projects/product-landing.png); }

    .project {
      margin: auto 5px;
    }
#eduInfo {
  padding: 20px 40px; }

  .eduWrap {
    padding: 0 5%;
  }
.grid {
  display: grid;
  padding: 20px; }

#workGrid {
  padding-top: 50px; }

  #workGrid div {
    padding: 0 5%;
  }
.more_info {
  padding: 20px; }
  .more_info h2 {
    padding: 30px; }

.box {
  display: grid;
  grid-gap: 5px;
  margin-left: 20px; }
  .box span {
    font-size: 20px;
    margin-left: -20px;
    padding: 5px 10px;
    padding-left: 0;
    border-radius: 2px; }
    .box span * {
      background-color: #004887c1;
      color: white;
      padding: 5px; }

footer {
  border-top: 1px #004787 solid;
  color: #004787;
  padding: 10px;
  font-size: 14px;
  background-color: white; }

#backToTop {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: -20px;
  right: 0;
  left: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background-image: url(../images/Up-Chevron-Circle-512.png);
  background-size: contain;
  opacity: 0.3; }

#footer {
  display: grid;
  padding: 0;
  border-bottom: 3px white solid; }
  #footer h2 {
    margin: 0;
    padding: 0 40px;
    padding-top: 20px; }
  #footer div {
    width: 200px;
    display: grid;
    padding: 20px 50px; }
    #footer div * {
      margin: 0;
      padding: 10px; }
  #footer section {
    background-color: #2a64e8;
    color: white;
    padding: 10px;
    text-align: right; }

@media (min-width: 600px) {
  #main .sections {
    position: relative;
    background-image: url(../images/flowers/blue/blue_flower_2.jpg);
    background-size: cover;
    background-attachment: fixed; }
    #main .sections .content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
      #main .sections .content .grid {
        grid-template-columns: 1fr 1fr; }
      #main .sections .content h1 {
        margin-top: 5px; }
  #main #endevours .content #project-wrapper {
    flex-direction: row; }

  #sidebar {
    display: grid;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 4;
    height: 30px; }
    #sidebar ul {
      text-align: center;
      padding: 0;
      margin: 0; }
      #sidebar ul li {
        display: inline;
        background-color: #2a64e8;
        padding: 12px 25px;
        border-radius: 2px 2px 0 0;
        transition: all 800ms ease-out;
        cursor: pointer;
        margin: auto 0; }
      #sidebar ul .active {
        background-color: white;
        color: #2a64e8;
        box-shadow: 0 2px 2px #2a64e8; }

  #main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400%; }
    #main .sections {
      width: 100%; } }
@media (min-width: 850px) {
  .grid {
    width: 800px;
    margin: 0 auto; } }
@media (min-width: 1000px) {
  #container {
    display: grid;
    grid-template-columns: 200px auto; }

  #sidebar {
    display: grid;
    position: relative;
    height: 100%;
    background-color: #2a64e8; }
    #sidebar ul {
      text-align: center;
      padding: 0;
      margin: 0;
      display: grid; }
      #sidebar ul li {
        display: grid;
        background-color: #2a64e8;
        padding: 12px 25px;
        border-radius: 0; }
        #sidebar ul li img {
          display: block; }
      #sidebar ul .active {
        background-color: white;
        color: #2a64e8;
        box-shadow: 0 2px 2px #2a64e8; }

  #main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400%; }
    #main .sections {
      width: 100%; } }

/*# sourceMappingURL=styles.css.map */
